<div class="panel panel-default">
    <div class="panel-body">
        <h2 class="lead">Estoque</h2>
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-body">
        <h2 class="lead">Utilizações</h2>
    </div>
</div>
