/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css?family=Grand+Hotel');
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	background-color: #FDF7C5 !important;
	font-family: 'Roboto' !important;
}

.nav_avidaebela {
	background-color: #765448;
	border-radius: 0px;
	height: 80px;
}

.navbar-brand {
	padding-left: 100px;
	margin-top: -20px;
}

.nome-pag {
	margin-right: 140px;
	font-family: 'Grand Hotel', cursive;
	font-size: 40px;
	color: #F9E94C;
}
 
.qtd-trans{
	margin-top: 10%;
}

.input-group-addon {
	background-color: #765448;
	border-color: #765448;
}

.buttons {
	margin-top: 10%;
}

/*---------------------------------------------------------------------------*/

.table {
	margin-top: 15%;
	border: 3px solid #202020;
}


.btn-sup {
	text-align: center;
	margin-top: 4%;
}

.btn-botoes {
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 22px !important;
	background-color: #747474;
	width: 300px;
	height: 70px;
}

.btn-botoes:hover {
	color: #FFEF2F !important;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid transparent !important;
 }

 .table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid transparent !important;
}

.table > thead > tr > th, .table > tbody > tr > td {
	text-align: center !important;
	border-left: 2px solid black !important;
	font-family: 'Roboto';
}

.table2{
	margin-top: 15%;
	border: 3px solid black;
	border-radius: 10px;
	width: 100%;
}

.table2 > tbody > tr > td, .table2 > tbody > tr > th, .table2 > tfoot > tr > td, .table2 > tfoot > tr > th, .table2 > thead > tr > td, .table2 > thead > tr > th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
 }

 .table2 > thead > tr > th {
    vertical-align: bottom;

}

.table2 > thead > tr > th, .table2 > tbody > tr > td {
	text-align: center !important;
	border-left: 2px solid black !important;
	font-family: 'Roboto';
}

.tb-mesas > tbody > tr > td {
	border: 1px solid black;
}

.tb-mesas tr {
	border-bottom: 1px solid black;
	padding-top: -2%;
}

/*---------------------------------------------------------------*/

.btn-remover {
	padding: 0;
	margin: 0;
	background-color: transparent;
}

.subtitulo {
	margin-top: 3%;
	margin-bottom: -12%;
	font-family: 'Grand Hotel';
	font-size: 50px;
	color:#202020;
	text-align: center;
}

.btn-mesa {
	background-color: #747474;
	width: 240px;
	height: 70px;
	font-size: 23px  !important;
	color: white;
}

.linha1 {
	margin-top: 40%;
}

.linha2{
	margin-top: 10%;
}

.btn-mesa:hover {
	color: #F9E94C !important;
}

.filtro {
	width: 70%;
	text-align: center;
}

.pesq {
	margin-top: 6%;
}

.list-group {
	margin-top: 10%;
}

.linha1est {
	margin-top: 30%;
}

.col-md-5 .col-md-offset-1 {
	padding-left: 0;
}
